.hero__section {
  background: #e3e6f3;
}

.hero__content h2 {
  color: #088178;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}

.hero__content p {
  color: #000 !important;
  line-height: 28px;
}

.hero__section p:nth-child(1) {
  font-weight: 500;
}

.buy__btn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background: #088178;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
}

.but__btn {
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

.buy__btn a:hover {
  color: #fff;
}

.hero__content {
  padding-top: 45px;
}

.hero__img {
  height: 100%;
  width: 700px;
  margin-left: -150px;
  background-size: cover;
}

.timer__count {
  background: #e3e6f3;
  height: 300px;
}

.timer__count img {
  width: 50% !important;
  height: 60% !important;
  object-fit: contain;
}
.price {
  color: red;
}

@media only screen and (max-width: 992px) {
  .hero__content h2 {
    font-size: 2rem;
  }

  .section__title {
    font-size: 1.7rem;
  }

  .offer__img {
    display: none;
  }

  .clock__top-content {
    text-align: center;
  }

  .clock__top-content h4 {
    font-size: 0.9rem;
  }

  .clock__top-content h3 {
    font-size: 1rem !important;
  }

  .count__down-col {
    text-align: center;
  }

  .buy__btn {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .hero__content h2 {
    font-size: 1.5rem;
  }

  .hero__img {
    height: 100%;
    width: 30px;
    margin-left: -30px;
  }

  .hero__content {
    font-size: 0.9rem;
  }

  .buy__btn {
    font-size: 0.9rem;
  }

  .section__title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 576px) {
  .hero__content {
    padding-top: 0;
    margin-bottom: 40px;
  }

  @media only screen and (max-width: 320px) {
    .hero__img {
      height: 400px;
      margin-left: -400px;
    }
  }
}
